In [ ]:
from IPython.display import Image
Image(filename = 'title_slide.png', width = 2000, height = 2000)

## Environment and ORM Setup

#### Dependencies and Packages

In [ ]:
# Package dependencies
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.dates as mdates
import numpy as np
import pandas as pd
import datetime as dt

%matplotlib inline

# SQLAlchemy Object Relational Mapper (ORM)
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.sql import select

#### SQLAlchemy ORM Setup

In [ ]:
# Create SQLite Engine
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

# Create our session (link) from Python to the DB
session = Session(engine)

# Create a connection
conn = engine.connect()

### Inspect Object Tables

In [ ]:
# Create an inspectiion object and get table names
inspector = inspect(engine)
inspector.get_table_names()

#### Measurement Table

In [ ]:
# Inspect the Measurement table
measurement_columns = inspector.get_columns('measurement')

for column in measurement_columns:
    print(column['name'], column['type'])

#### Station Table

In [ ]:
station_columns = inspector.get_columns('station')
for column in station_columns:
    print(column['name'], column['type'])

<center><h1>Part 1 - Climate Analysis and Exploration</center></h1>

<center><h2>Preciptation Analysis</center></h2>

* Calculate the date 1 year ago from the last data point in the database
* Perform a query to retrieve the data and precipitation scores
* Save the query results as a Pandas DataFrame and set the index to the date column
* Sort the dataframe by date
* Use Pandas Plotting with Matplotlib to plot the data

--------------------------------------------------------------------------------------------------------------------------
#### NOTE: For each query the Pandas/SQL tectual query syntax is used as well as the SQLAlchemy ORM syntax
--------------------------------------------------------------------------------------------------------------------------

### Latest Year Query

* Design a query to retrieve the last 12 months of precipitation data and plot the results

#### Pandas / SQL

In [ ]:
year = pd.read_sql('''SELECT 
                        m.date AS Date, 
                        round(avg(m.tobs), 2) AS Temperature, 
                        round(sum(m.prcp), 2) AS Precipitation
                      FROM measurement AS m
                      GROUP BY m.date
                      ORDER BY m.date ASC;''', conn)

year['Date'] = pd.to_datetime(year['Date'])
year = year[year['Date'] >= '2016-08-23']
year.head()

#### SQLAlchemy ORM

In [ ]:
select = [
    Measurement.date.label('Date'), 
    func.sum(Measurement.prcp.label('Precipitation')), 
    func.avg(Measurement.tobs.label('Temperature'))
]

results = session.query(
    *select
).filter(
    Measurement.station == Station.station
).group_by(
    Measurement.date
).filter(
    Measurement.date >= '2016-08-23'
).all()

results_dict = {
    'Date': [result[0] for result in results],
    'Temperature': [result[1] for result in results],
    'Precipitation': [result[2] for result in results]
    
}

year = round(pd.DataFrame(results_dict), 2)
year['Date'] = pd.to_datetime(year['Date'])
year.head()

#### Latest Year Precipitation Plot

In [ ]:
plt.rcParams.update({'font.size': 30})
plt.rcParams['axes.axisbelow'] = True

COLOR = '#002147'
plt.rcParams['text.color'] = COLOR
plt.rcParams['axes.labelcolor'] = COLOR
plt.rcParams['xtick.color'] = COLOR
plt.rcParams['ytick.color'] = COLOR
plt.rcParams['lines.color'] = COLOR
plt.rcParams['lines.linewidth'] = 2

months = mdates.MonthLocator()
months_fmt = mdates.DateFormatter('%B')

fig, ax = plt.subplots(1, figsize = [20, 7.25])

ax.plot(
    year['Date'], 
    year['Precipitation'], 
    color = '#002147',
    lw = 5
)

ax.xaxis.set_major_locator(months)
ax.xaxis.set_major_formatter(months_fmt)

ax.spines['top'].set_visible(False)
ax.spines['right'].set_visible(False)

ax.set_ylabel('Precipitation')
ax.set_xlabel('Date')
ax.set_title('CUMULATIVE PRECIPITATION')

fig.autofmt_xdate()

plt.tight_layout()
plt.savefig('Preciptation in One Year.png', transparent=True)

plt.show()

#### Latest Year Temperature Plot

In [ ]:
plt.rcParams.update({'font.size': 30})
plt.rcParams['axes.axisbelow'] = True

COLOR = '#002147'
plt.rcParams['text.color'] = COLOR
plt.rcParams['axes.labelcolor'] = COLOR
plt.rcParams['xtick.color'] = COLOR
plt.rcParams['ytick.color'] = COLOR
plt.rcParams['lines.color'] = COLOR
plt.rcParams['lines.linewidth'] = 2

months = mdates.MonthLocator()
months_fmt = mdates.DateFormatter('%B')

fig, ax = plt.subplots(1, figsize = [20, 7.25])

ax.plot(
    year['Date'], 
    year['Temperature'], 
    color = '#002147',
    lw = 5
)

ax.xaxis.set_major_locator(months)
ax.xaxis.set_major_formatter(months_fmt)

ax.spines['top'].set_visible(False)
ax.spines['right'].set_visible(False)

ax.set_ylabel("($^\circ$F)")
ax.set_xlabel('Date')
ax.set_title('MEAN TEMPERATURES')

fig.autofmt_xdate()

plt.tight_layout()
plt.savefig('Temperature in One Year.png', transparent=True)

plt.show()

#### Describe() Year DataFrame

* Use Pandas to print the summary statistics for the precipitation data

In [ ]:
year.describe()

<center><h2>Station Analysis</center></h2>

* Design a query to calculate the total number of stations

#### Pandas / SQL

In [ ]:
# Design a query to show how many stations are available in this dataset?
station_count = pd.read_sql('''SELECT count(station) 
                               FROM station;''', conn).iloc[0, 0]

print(f"There are {station_count} stations in the dataset.")

#### SQLAlchemy ORM

In [ ]:
select = [
    func.count(Station.station)
]

station_count = session.query(
    *select
).all()

print(f'There are {station_count[0][0]} stations in the dataset.')

* Design a query to find the most active stations.
    * List the stations and observation counts in descending order
    * Which station has the highest number of observations?

#### Pandas / SQL

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
active_stations = pd.read_sql('''SELECT m.station AS Station, 
                                    count(m.station) AS Count,
                                    s.name AS Name,
                                    round(avg(m.tobs), 2) AS Temperature, 
                                    round(avg(m.prcp), 2) AS Precipitation,
                                    s.latitude AS Lat,
                                    s.longitude AS Lon
                                 FROM measurement AS m
                                 LEFT JOIN station AS s
                                 ON m.Station = s.station
                                 GROUP BY m.station
                                 ORDER BY Count ASC;''', conn)

#active_stations.sort_values('Count', ascending=False)
active_stations['Years'] = round(active_stations['Count'] / 365, 2)
active_stations

#### SQLAlchemy ORM

In [ ]:
select = [
    Measurement.station.label('Station'), 
    func.count(Measurement.station).label('Count'), 
    Station.name.label('Name'), 
    func.avg(Measurement.tobs).label('Temperature'), 
    func.avg(Measurement.prcp).label('Precipitation'), 
    Station.latitude.label('Lat'), 
    Station.longitude.label('Lon')
]

results = session.query(
    *select
).filter(
    Measurement.station == Station.station
).group_by(
    Measurement.station
).order_by(
    'Count'
).all()

results_dict = {
    'Station': [result[0] for result in results],
    'Count': [result[1] for result in results],
    'Name': [result[2] for result in results],
    'Temperature': [result[3] for result in results],
    'Precipitation': [result[4] for result in results],
    'Lat': [result[5] for result in results],
    'Lon': [result[6] for result in results]
}

active_stations = pd.DataFrame(results)

active_stations['Years'] = active_stations['Count'] / 365
active_stations = round(active_stations, 2)

active_stations

#### Station Activity Barplot

In [ ]:
plt.rcParams.update({'font.size': 30})
plt.rcParams['axes.axisbelow'] = True

COLOR = '#002147'
plt.rcParams['text.color'] = COLOR
plt.rcParams['axes.labelcolor'] = COLOR
plt.rcParams['xtick.color'] = COLOR
plt.rcParams['ytick.color'] = COLOR
plt.rcParams['lines.color'] = COLOR
plt.rcParams['lines.linewidth'] = 2

fig, ax = plt.subplots(1, figsize = [30, 10])

ax.barh(
    active_stations['Station'], 
    active_stations['Years'], 
    color = '#002147'
)

ax.spines['top'].set_visible(False)
ax.spines['right'].set_visible(False)

ax.set_ylabel('Station')
ax.set_xlabel('Years')
ax.set_title('RECORDED ($^\circ$F) YEARS')

plt.tight_layout()
plt.savefig('Active Stations.png', transparent=True)

plt.show()

* Using the station id from the previous query, calculate the lowest temperature recorded, highest temperature recorded, and average temperature for the most active station.

#### Pandas / SQL

In [ ]:
pd.read_sql("""SELECT min(tobs) AS Lowest, round(avg(tobs), 2) AS Average, max(tobs) AS Highest
               FROM measurement
               WHERE station = 'USC00519281';""", conn)

#### SQLAlchemy ORM

In [ ]:
select = [
    func.min(Measurement.tobs).label('Lowest'), 
    func.avg(Measurement.tobs).label('Average'), 
    func.max(Measurement.tobs).label('Highest')]

results = session.query(*select).filter(Measurement.station == 'USC00519281').all()

results_dict = {
    'Lowest': [result[0] for result in results],
    'Average': [result[1] for result in results],
    'Highest': [result[2] for result in results]
}

round(pd.DataFrame(results_dict, index = ['Values']), 2)

* Design a query to retrieve the last 12 months of temperature observation data (tobs).
    * Filter by the station with the highest number of observations
    * Plot the results as a histogram with bins = 12.

#### Pandas / SQL

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
year_station = pd.read_sql("""SELECT date AS Date, 
                              tobs AS Temperature
                              FROM measurement
                              WHERE station = 'USC00519281'
                              AND Date >= '2016-08-18';""", conn)
year_station['Date'] = pd.to_datetime(year_station['Date'])
year_station.head()

#### SLQAlchemy ORM

In [ ]:
select = [
    Measurement.date.label('Date'), 
    Measurement.tobs.label('Temperature')
]

results = session.query(
    *select
).filter(
    Measurement.station == 'USC00519281'
).filter(
    Measurement.date >= '2016-08-23'
).all()

results_dict = {
    'Date': [result[0] for result in results],
    'Temperature': [result[1] for result in results]
}

year_station = pd.DataFrame(results_dict)
year_station.head()

#### Histogram of Station USC00519281-WAIHEE 837.5

In [ ]:
plt.rcParams.update({'font.size': 30})
plt.rcParams['axes.axisbelow'] = True

COLOR = '#002147'
plt.rcParams['text.color'] = COLOR
plt.rcParams['axes.labelcolor'] = COLOR
plt.rcParams['xtick.color'] = COLOR
plt.rcParams['ytick.color'] = COLOR
plt.rcParams['lines.color'] = COLOR
plt.rcParams['lines.linewidth'] = 2


fig, ax = plt.subplots(1, figsize = [12, 7.5])

ax.hist(
    year_station['Temperature'], 
    bins = 12, 
    color = '#002147', 
    lw = 5
)

ax.spines['top'].set_visible(False)
ax.spines['right'].set_visible(False)

ax.set_xlabel('($^\circ$F)')
ax.set_ylabel('Count')
ax.set_title('HISTOGRAM OF STATION USC00519281')

fig.autofmt_xdate()

plt.legend()
plt.tight_layout()
plt.savefig('Histogram of Station USC00519281.png', transparent=True)

plt.show()

<center><h1>Part 2 - Climate App</center></h1>
* Please see: climate.py

### Optional: Other Recommended Analyses

* The following are optional challenge queries. These are highly recommended to attempt, but not required for the homework.

<center><h1>Temperature Analysis 1</h1></center>

* Hawaii is reputed to enjoy mild weather all year. Is there a meaningful difference between the temperature in, for example, June and December?
* You may either use SQLAlchemy or pandas's read_csv() to perform this portion.
* Identify the average temperature in June at all stations across all available years in the dataset. Do the same for December temperature.
* Use the t-test to determine whether the difference in the means, if any, is statistically significant. Will you use a paired t-test, or an unpaired t-test? Why?

<center><h1>Temperature Analysis 2</h1></center>

* The starter notebook contains a function called calc_temps that will accept a start date and end date in the format %Y-%m-%d and return the minimum, average, and maximum temperatures for that range of dates.
* Use the calc_temps function to calculate the min, avg, and max temperatures for your trip using the matching dates from the previous year (i.e., use "2017-01-01" if your trip start date was "2018-01-01").

* Plot the min, avg, and max temperature from your previous query as a bar chart.
    * Use the average temperature as the bar height.
    * Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr).

<center><h1>Daily Rainfall Average</h1></center>

* Calculate the rainfall per weather station using the previous year's matching dates.
* Calculate the daily normals. Normals are the averages for the min, avg, and max temperatures.
* You are provided with a function called daily_normals that will calculate the daily normals for a specific date. This date string will be in the format %m-%d. Be sure to use all historic tobs that match that date string.
* Create a list of dates for your trip in the format %m-%d. Use the daily_normals function to calculate the normals for each date string and append the results to a list.
* Load the list of daily normals into a Pandas DataFrame and set the index equal to the date.
* Use Pandas to plot an area plot (stacked=False) for the daily normals.

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)



def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`