In [1]:
# Dependencies
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# Read and shuffle data
housing_data = pd.read_csv("../Resources/housing_data.csv", header=None)
housing_data = housing_data.sample(frac=1).reset_index(drop=True)

In [3]:
# Create a bunch of samples, each with div items
div = 20
lim = len(housing_data) // div
samples = [housing_data.iloc[(i * div):(i * div + div), 13]
           for i in range(0, lim)]

In [4]:
housing_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.11027,25.0,5.13,0,0.453,6.456,67.8,7.2255,8,284.0,19.7,396.90,6.73,22.2
1,0.01096,55.0,2.25,0,0.389,6.453,31.9,7.3073,1,300.0,15.3,394.72,8.23,22.0
2,4.34879,0.0,18.10,0,0.580,6.167,84.0,3.0334,24,666.0,20.2,396.90,16.29,19.9
3,0.06588,0.0,2.46,0,0.488,7.765,83.3,2.7410,3,193.0,17.8,395.56,7.56,39.8
4,0.19133,22.0,5.86,0,0.431,5.605,70.2,7.9549,7,330.0,19.1,389.13,18.46,18.5

In [5]:
housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
0     506 non-null float64
1     506 non-null float64
2     506 non-null float64
3     506 non-null int64
4     506 non-null float64
5     506 non-null float64
6     506 non-null float64
7     506 non-null float64
8     506 non-null int64
9     506 non-null float64
10    506 non-null float64
11    506 non-null float64
12    506 non-null float64
13    506 non-null float64
dtypes: float64(12), int64(2)
memory usage: 55.4 KB

In [ ]:
fig, ax = subplots(1, figsize = [7, 7])

ax.hist(h)