In [2]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

In [5]:
# Read in data
general = pd.read_csv('../Resources/general_heights.csv')
wnba = pd.read_csv('../Resources/wba_data.csv')

In [6]:
general.head()

   height
0    67.0
1    64.0
2    61.0
3    61.0
4    63.0

In [7]:
wnba.head()

                  name position  age  height
0         Matee Ajavon        G   28      68
1            Swin Cash        F   34      73
2       Erika de Souza        F   32      77
3        Celine Dumerc        G   31      66
4  Nadia Gomes Colhado        C   25      76

In [3]:
# Run the t-test

In [4]:
# Report the data

In [5]:
# Plot sample means with error bars

In [6]:
# Plot mean height of players