In [1]:
from bs4 import BeautifulSoup as bs
import time
from splinter import Browser
import pandas as pd

In [2]:
def init_browser():
    executable_path = {'executable_path': 'chromedriver.exe'}
    return Browser('chrome', **executable_path, headless=False)

In [3]:
def mars_scrape():
    
    browser = init_browser()
    
    # Mars news   
    news_url = 'http://mars.nasa.gov/news/'
    browser.visit(news_url)
    news_html = browser.html   
    
    news_soup = bs(news_html, 'html.parser')        
    news_date = news_soup.find('ul', class_='item_list').find('div', class_='list_date').text
    news_title = news_soup.find('ul', class_='item_list').find('div', class_='content_title').text
    news_teaser = news_soup.find('ul', class_='item_list').find('div', class_='article_teaser_body').text
    
    # Featured image
    image_url = 'http://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
    browser.visit(image_url)
    image_html = browser.html
    
    image_soup = bs(image_html, 'html.parser')        
    image_jpg = image_soup.find('ul', class_='articles').find('img', class_='thumb')['src']
    image_title = image_soup.find('ul', class_='articles').find('div', class_='item_tease_overlay').text
    
    # Mars weather
    weather_url = 'https://twitter.com/marswxreport?lang=en'
    browser.visit(weather_url)
    weather_html = browser.html
    
    weather_soup = bs(weather_html, 'html.parser')        
    weather_text = weather_soup.find('div', class_='js-tweet-text-container').text.strip()   
    
    # Mars facts
    facts_url = 'https://space-facts.com/mars/'
    mars_tables = pd.read_html(facts_url)    
    mars_facts = mars_tables[1]
    mars_html = mars_facts.to_html()
    
    # Hemispheres
    hemi_page = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
    browser.visit(hemi_page)

    hemi_html = browser.html
    hemi_soup = bs(browser.html, 'html.parser')
    hemi_list = hemi_soup.find_all('div', {'class': 'item'})

    links = []
    for hemi in hemi_list:
        links.append(hemi.find('a', {'class': 'itemLink product-item'})['href'])
    
    main_page = 'https://astrogeology.usgs.gov/'
    
    jpg_links = []
    for i in range(0, 4):
        browser.visit(main_page + links[i])
        hemi_html = browser.html
        hemi_soup = bs(hemi_html, 'html.parser')
        jpg_links.append(hemi_soup.find('a', {'target': '_blank'})['href'])
    
    # Main dict to return    
    mars_dict = {
        'date': news_date,
        'title': news_title,
        'teaser': news_teaser,
        'image_jpg': image_jpg,
        'image_title': image_title,
        'weather_text': weather_text,
        'mars_facts': mars_html,
        'hemisphere_1': jpg_links[0],
        'hemisphere_2': jpg_links[1],
        'hemisphere_3': jpg_links[2],
        'hemisphere_4': jpg_links[3]
    }
    
    browser.quit()
    
    return mars_dict

In [4]:
mars_dict = mars_scrape()

In [5]:
mars_dict

{'date': 'August 15, 2019',
 'title': "Robotic Toolkit Added to NASA's Mars 2020 Rover",
 'teaser': "The bit carousel, which lies at the heart of the rover's Sample Caching System, is now aboard NASA's newest rover. ",
 'image_jpg': '/spaceimages/images/wallpaper/PIA23384-640x350.jpg',
 'image_title': 'Northern Arabia Terra',
 'weather_text': 'InSight sol 261 (2019-08-21) low -102.4ºC (-152.4ºF) high -26.6ºC (-15.8ºF)\nwinds from the SSE at 4.9 m/s (11.0 mph) gusting to 16.0 m/s (35.8 mph)\npressure at 7.70 hPapic.twitter.com/MhPPOHJg3m',
 'mars_facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>',
 'hemisphere_1': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
 'hemisphere_2': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
 'hemisphere_3': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
 'hemisphere_4': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}

In [ ]:
len(mars_dict)

#### Sandbox

In [5]:
# Mars facts
facts_url = 'https://space-facts.com/mars/'

In [6]:
mars_tables = pd.read_html(facts_url)

In [7]:
mars_facts = mars_tables[1]

In [8]:
mars_facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [10]:
named = mars_facts.rename(columns={
    0: 'Stat',
    1: 'Value'
}).set_index('Stat')
named

                                              Value
Stat
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [11]:
mars_html = mars_facts.to_html()

In [12]:
mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'