### Cities Index DataFrame

In [1]:
# Import needed functions, dependencies and packages
from requests import get
from config import api_key
import pandas as pd
import json
import random

with open('city_list.json', 'r', encoding='utf-8') as file:
    cities_list = json.load(file)
    
city_df = pd.DataFrame()

for city in cities_list:
    city_id = city['id']
    city_name = city['name']
    city_country = city['country']
    city_lon = city['coord']['lon']
    city_lat = city['coord']['lat']
    
    city_dict = {
        'city_id': city_id,
        'city_name': city_name,
        'city_country': city_country,
        'city_lon': city_lon,
        'city_lat': city_lat
    }
    
    temp_df = pd.DataFrame(city_dict, index = ['city']).set_index('city_id')
    
    city_df = pd.concat([city_df, temp_df])

In [4]:
city_df.head()

                city_name city_country   city_lon   city_lat
city_id
707860             Hurzuf           UA  34.283333  44.549999
519188            Novinki           RU  37.666668  55.683334
1283378            Gorkh훮           NP  84.633331  28.000000
1270260  State of Hary훮na           IN  76.000000  29.000000
708546          Holubynka           UA  33.900002  44.599998

In [5]:
city_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209579 entries, 707860 to 596826
Data columns (total 4 columns):
city_name       209579 non-null object
city_country    209579 non-null object
city_lon        209579 non-null float64
city_lat        209579 non-null float64
dtypes: float64(2), object(2)
memory usage: 8.0+ MB

In [6]:
city_df.to_csv('city_index_df.csv')