549

In [7]:
city_data.head()

,name,country,longitude,latitude,humidity,temperature,wind_speed
city_id,,,,,,,
5855927,Hilo,US,-155.08,19.71,61,299.430,3.60
3833367,Ushuaia,AR,-68.31,-54.81,98,277.150,1.50
4912698,Streator,US,-88.84,41.12,100,294.990,3.26
1006984,East London,ZA,27.91,-33.02,78,282.813,2.01
496381,Severnoye,RU,52.54,54.09,82,294.993,1.25

In [8]:
city_data.to_csv('city_data.csv')